<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
      <form action="/deletestudent" method="post">
   <h3>DELETE STUDENT</h3>
 
    <label for="emailid"><b>emailid</b></label>
    <input type="emailid" style="width:200px;" placeholder="emailid" name="emailid" id="emailid" required>

    <label for="password"><b>password</b></label>
    <input type="password" style="width:200px;" placeholder="password" name="password" id="password" required>

    <button type="submit" class="registerbtn">DELETE STUDENT</button>
    <a href="./" style="color:black">BACK TO HOME PAGE</a> <br>    
</form>
</div>      
</body>
</html>